.task-create{
    background-color: #fff;
    margin-top: 20px;
    padding: 50px;
}
.task-list{
    margin-top: 20px;
    padding: 30px;
}
.task-list table tr td{
    padding: 0 !important;
}
.task-list .badge{
    color: #ffffff;
    font-size: 12px;
    border-radius: 3px ;
}
.task-list td input{
    border: none !important;
}
.tasks-info p{
    margin-bottom: 0;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}
.tasks-info span{
    display: block;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    color: #7c7c7c;
    font-weight: lighter;
}
nav .user{
    margin-left: 20px;
    font-weight: bold;
}
nav .user i{
    font-size: 16px;
    margin-left: 10px;
    display: inline-block;
}